.contenedor-principal{
    width: 85%;
    margin: 0 auto;
    display: block;
    font-family: 'Times New Roman', Times, serif;
    
}

.flex{
    display: flex;
    width: 70%;
    background-color: #3d3d3d;
    margin: 0 auto;
    padding: 5px 50px;
    color: white;
    align-items: center;

 
}

li a {
    color: white;
    text-decoration: none;
    list-style: none;
}


.aside{
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding: 5px 50px;
    color: white;
    
    
}
.borde{
    border: 1px solid black;
    margin-bottom: 25px;
    margin-top: 25px;
}

.imagen{
    width: 200px;
    border-radius: 50%;
    border: 5px solid white;
    margin-left: -50px;
    
}

.w-30{
    width: 30%;
   
}

.menu{

    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: #3d3d3d;
    margin: 0 auto;
    padding: 5px 50px;
    color: white;
    width: 70%;
    
}

.sticky{
    position: sticky;
    top: 1px;
}

.red{
    background-color: #737373;
    padding: 0px 50px 60px 10px;
    margin-left: -50px;
    margin-top: -5px;
}

li{
    text-transform: lowercase;
    list-style: none;
    line-height: 30px;
}

.w-70{
    width: 70%;
    
}


.nombre{
    font-size: 40px;
    margin-bottom: -20px;
    text-transform: uppercase;
}
.titulo{
    font-size: 25px;
    margin-bottom: -10px;
    text-transform: uppercase;

}

.encabezados{
    margin-left: 35px;
    font-size: 25px;
    text-transform: uppercase;
}
.descripcion{
    font-size: 16px;
}

.negro{
    
    color: black;
    padding-left: 20px;
    
}

ul .lista{
    line-height: 15px;
}

tr td a {
    color: #3d3d3d;
    
    transition: transform 0.3s ease;
}

tr td a:hover {
    color: #e50c0c;
    transform: scale(1.5);
    
}


 td a i{
    
    
    transition: transform 0.3s ease;
}

td a i:hover {
    color: #e50c0c;
    transform: scale(1.5);
    
}



.tittulo-seminario{
    font-weight: bold;
    text-transform: uppercase;
}

.habilidades{
    display: flex;
    justify-content: space-around;
    
    
}
table{
    margin-left: 30px;
    
}
.center{
    text-align: center;
}

td{
    
    padding: 10px;
    text-align: center;
}

.empresa{
    font-weight: bold;
}

.titulo-tabla{
    font-size: 20px;
    font-weight: bold;
}

.titulo-documento{
    font-size: 20px;
}

.izquierda{
    text-align: left;
    
}
@media all and (max-width: 600px) {
    .flex{
        display: block;
        width: 100%;
        justify-content: center;
        
        margin: 0 auto;
        align-items: center;
    }
    .nombre{
        font-size: 40px;
        
        text-transform: uppercase;
    }
    .titulo{
        font-size: 25px;
        
        text-transform: uppercase;
    
    }

    .menu{

        display: none;
        
        
    }
    .imagen{
        width: 200px;
        border-radius: 50%;
        border: 5px solid white;
        margin-left: 0px;
        
    }

    .aside{
        display: block;
        width: 90%;
        margin: 0 auto;
        padding: 5px 50px;
        color: white;
        
        
    }
    .habilidades{
        display: block;
     
    }
    .w-70 {
        width: 100%;
    }

    .negro {
        
        padding-left: 0px;
    }

    .red {
        background-color: #737373;
        padding: 0px 50px 60px 10px;
        margin-left: -50px;
        margin-top: -5px;
        width: 70vh;
    }
}




